/index.css
/text.txt
/Домашнее задание
/план урока.txt
/Текст.txt
/шаблон_сайта.png
/Шпаргалка. Создание landing page (часть 2) завершение лендинга и адаптивность.pdf
/Шпаргалка. Создание landing page часть 1.pdf