@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 100px 15px;
    margin: 0 auto;
}

.section_title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.section_text {
    font-size: 20px;
    line-height: 30px;
}

.menu {
    background-color: #121212;
    height: 100px;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.logo {}

.menu_items {
    float: right;
}

.menu_item {
    display: inline;
}

.menu_item a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin-left: 20px;
    display: inline-block;
    transition: 0.3s;
}

.menu_item a:hover {
    text-shadow: 0 0 10px white;
    transform: scale(1.1);
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.header_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.header_title {
    font-size: 100px;
    color: white;
    text-shadow: 10px 10px 0 #e06161;
}

.header_button {
    background-color: white;
    padding: 30px;
    border-radius: 50px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 10px 10px 0 #e06161;
    display: block;
    margin: 50px auto 0;
    width: fit-content;

}

.header_bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(#df8681, #ffc997);
    position: absolute;
    top: 0;
    z-index: -1;
}

.circle1 {
    position: absolute;
    top: -100px;
    left: -50px;
    animation: rotate-move 10s linear 0s infinite;
}

.circle2 {
    position: absolute;
    top: -40px;
    right: -40px;
    animation: move-left-down 10s linear 0s infinite;
}

.circle3 {
    position: absolute;
    bottom: -30px;
    left: -50px;
    animation: move-up-left 8s linear 0s infinite;
}

.circle_bordered {
    position: absolute;
    bottom: -30px;
    left: 250px;
    animation: move-right 15s linear 0s infinite;
}

.circle_dashed_border {
    position: absolute;
    bottom: -180px;
    right: -100px;
    animation: rotation 10s linear 0s infinite;
}

.triangle {
    position: absolute;
    top: 20%;
    left: 40%;
    animation: move-right 25s linear 0s infinite;
}

.octagon {
    position: absolute;
    top: 65%;
    left: 50%;
    animation: rotate-move 10s linear 0s infinite alternate;
}

.what_we_doing {
    background: linear-gradient( 7deg,#df8681 18% ,#ffc997 70%,#fff 70%);
    text-align: center;
}
.doing_left {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.doing_text {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 10px 10px 0 #e06161;
}
.doing_right {
    width: 49%;
    display: inline-block;
}
.doing_right img{
    width: 100%;
}
/* Services */
.services {
    background: linear-gradient(160deg,#df8681 50%,white 50%);
}
.section_title {
}
.white_title {
    color: white;
}
.services_card {
    background-color: white;
    border: 4px solid #ffc997;
    border-radius: 30px;
    width: 28%;
    height: 550px;
    display: inline-block;
    margin: 2%;
    vertical-align: top;
    text-align: center;
    padding: 20px;
}
.services_card img{
    margin-bottom: 20px;
}
.services_card_title {
    font-size: 25px;
    margin-bottom: 20px;
}
.services_row {
    width: 70%;
    margin: 0 auto 20px auto;
    border: 1px solid #e06161;
}
.section_text {
}

.adventages {
    position: relative;
}
.adventages_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.adventages_bg_1 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.adventages_bg_2 {
    position: sticky;
    left: 0;
    top: 100px;
}
.adventages_card {
    border: 4px solid #ffc997;
    background-color: white;
    width: 60%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 0 #e06161;
    position: relative;
}
.adventages_title {
    font-size: 30px;
    margin-bottom: 15px;
}
.adventages_list{
    margin-left: 25px;
    list-style: circle;
}
.adventages_item {
}
.adv_card_1{
    right: 15%;
}
.adv_card_2{
    left: 10%;
}
.adv_card_2{
    right: 15%;
}
.portfolio {
}
.portfolio_table {
    width: 100%;
    height: 600px;
}
.portfolio_mobile{
    display: none;
    
}
.portfolio_table td{
    border: 4px solid #e06161;
    border-radius: 25px;
    transition: 0.5s;
}
.portfolio_table td:hover{
    transform: scale(.9);
}
.portfolio_1 {
    background: url("img/portfolio/site1.png") center/cover no-repeat;
}
.portfolio_2 {
    background: url("img/portfolio/site2.png") center/cover no-repeat;
}
.portfolio_3 {
    background: url("img/portfolio/site3.png") center/cover no-repeat;
}
.portfolio_4 {
    background: url("img/portfolio/site4.png") center/cover no-repeat;
}
/*Сделать Напишите нам-Footer*/
.footer{
    background: linear-gradient(#df8681, #ffc997);
    padding: 100px 0;
}
.footer_title{
    font-size: 45px;

}
.footer_btn{
    background-color: white;
    padding: 30px 80px;
    border-radius: 50px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 10px 10px 0 #e06161;
    display: block;
    margin: 50px auto 0;
    width: fit-content;
}
@keyframes move-up-left {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(40px, 80px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes move-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(230%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotate-move {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(80px, 200px) rotate(180deg);
    }

    100% {
        transform: translate(0, 0) rotate(359deg);
    }
}

@keyframes move-left-down {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    50% {
        transform: translate(-180px, 200px) rotate(180deg);
    }

    100% {
        transform: translate(0, 0) rotate(359deg);
    }
}
@media (max-width:768px){
    .header_title{
        font-size: 50px;
    }
    .menu{
        height: auto;
    }
    .menu_item{
        display: block;
    }
    .doing_left{
        width: 100%;
    }
    .doing_text{
        border: 1px solid #e06161;
        
    }
    .doing_right{
        width: 100%;
        padding-top: 20px;
    }
    .services_card{
        width: 96%;
        
    }
    .adventages_card{
        right: auto;
        left: auto;
        width: 90%;
    }
    .portfolio_mobile{
        border: 4px solid #e06161;
        border-radius: 25px;
        height: 300px;
        margin: 10px 0;
        display: block;
    }
    .portfolio_table{
        display: none;
    }

}
@media (max-width:425px){
    .header_content{
        width:auto;
        text-align: center;
    }
    .menu{
        font-size: 12px;
    }
    .logo img{
        height: 20px;
    }
}